.link {
    text-decoration: none;
    color: #222222;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.table {
    margin-top: 30px;
    background-color: #fff;
}

.eit {
    background-color: transparent;
    height: 30px;
    border: none;
    cursor: pointer;
    z-index: 1000;
}
